@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600;700;800;900&family=Public+Sans:wght@300;400;700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  font-family: "Public Sans", sans-serif;
  font-size: 18px;
  box-sizing: border-box;
}

:root {
  --show-border: 0; /* using this variable to control the transparency of any border defined wiht "rgba". Setting it to "1" during testing to make borders visible. */
  --desktop-max-width: 100%;
  --side-margin: 250px;
  --desktop-side-margin: 250px;
  --mobile-side-margin: 30px;
  --intro-div-size: 700px;
  --features-div-size: 750px;
  --articles-div-size: 800px;
  --grayish-blue: hsl(233, 8%, 62%);
  --light-grayish-blue: hsl(220, 16%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  --dark-blue: hsl(233, 26%, 24%);
  --lim-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);
}
.grid-container {
  height: 100%;
  display: grid;
  grid-template-rows: 80px auto 160px;
  grid-template-areas: "navbar" "main" "footer";
}

#navbar {
  width: var(--desktop-max-width);
  display: grid;
  background-color: var(--white);
  grid-area: navbar;
  place-items: center;
  grid-template-columns: var(--desktop-side-margin) 1fr 1fr 1fr var(
      --desktop-side-margin
    );
  grid-template-rows: auto;
  grid-template-areas: ". logo navbar-list button .";
  z-index: 100000;
}
.navbar-logo {
  grid-area: logo;
  width: 100%;
}
.navbar-list {
  height: 100%;
  display: grid;
  width: 100%;
  grid-area: navbar-list;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 80% 20%;
  grid-auto-flow: column;
  row-gap: 5px;
  column-gap: 20px;
  place-items: center;
}
.navbar-list a {
  display: grid;
  height: 35%;
  text-decoration: none;
  font-size: large;
  color: var(--bright-cyan);
}
.hover-tab {
  display: grid;
  width: 100%;
  height: 30%;
  border-radius: 2px;
  background: linear-gradient(
    to right,
    var(--lim-green),
    var(--bright-cyan) 80%
  );
  opacity: 0;
}
.navbar-list-item:hover {
  color: var(--dark-blue);
}
.navbar-list-item:hover + .hover-tab {
  opacity: 1;
}
.navbar-button {
  display: grid;
  grid-area: button;
  width: 100%;

  place-items: end;
  justify-content: end;
}
.button {
  text-decoration: none;
  font-size: large;
  font-weight: bold;
  color: white;
  background-color: silver;
  padding: 15px 35px;
  border-radius: 25px;
  background: linear-gradient(
    to right,
    var(--lim-green),
    var(--bright-cyan) 80%
  );
}

.button:hover {
  opacity: 70%;
}

#main {
  display: grid;
  grid-area: main;
  grid-template-rows: var(--intro-div-size) var(--features-div-size) var(
      --article-div-size
    );
  grid-template-columns: auto;
  grid-template-areas: "intro" "features" "articles";

  animation-name: intro-text-animation;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes intro-text-animation {
  0% {
    opacity: 0%;
  }
  15% {
    opacity: 15%;
  }
  30% {
    opacity: 30%;
  }
  45% {
    opacity: 45%;
  }
  60% {
    opacity: 60%;
  }
  75% {
    opacity: 75%;
  }
  100% {
    opacity: 100%;
  }
}

#intro {
  display: grid;
  grid-area: intro;
  height: var(--intro-div-size);
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-columns: var(--side-margin) 650px auto;
  /* grid-template-rows: repeat(3, 100px);
   */
  grid-template-rows: calc(0.3 * var(--intro-div-size)) calc(
      0.7 * var(--intro-div-size)
    );

  /* grid-template-areas: ". . intro-img intro-img" "intro-text intro-text intro-img intro-img" ". . intro-img intro-img"; */
  grid-template-areas: ". . intro-img" ". intro-text intro-img" ". . intro-img";
  /* gap: 0px; */
  background: linear-gradient(
    to bottom,
    var(--very-light-gray),
    var(--white) 80%
  );
}
.intro-text {
  display: grid;
  grid-area: intro-text;
  place-items: start;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "heading" "description" "button";
  gap: 0px;
}

.intro-heading {
  display: grid;
  height: 100%;
  grid-area: heading;
}
.intro-description {
  display: grid;
  height: 100%;
  place-content: center;
  grid-area: description;
}
.intro-button {
  display: grid;

  grid-area: button;
}
.intro-text p {
  font-size: 70px;
  margin: 0px;
  color: var(--dark-blue);
}
.intro-text article {
  font-size: 25px;
  font-weight: 400;
  color: var(--bright-cyan);
}

.intro-img {
  display: grid;
  height: var(--intro-div-size);
  grid-area: intro-img;
}
.intro-img-background {
  display: grid;
  grid-area: intro-img;
  height: inherit;
  overflow: hidden;
  z-index: 3;
}

.intro-img-background img {
  position: relative;
  top: -250px;
}
.intro-img-main {
  display: grid;
  grid-area: intro-img;
  height: 932px;
  z-index: 5;
  /* place-items: end; */
  overflow: hidden;
}
.intro-img-main img {
  position: relative;
  height: 90%;
  width: 95%;
  object-fit: contain;
  top: -150px;
  right: -182px;

  animation-name: intro-img-main-animation;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes intro-img-main-animation {
  0% {
    opacity: 0%;
    top: -350px;
  }
  15% {
    opacity: 15%;
  }
  30% {
    opacity: 30%;
  }
  45% {
    opacity: 45%;
  }
  60% {
    opacity: 60%;
  }
  75% {
    opacity: 75%;
  }
  100% {
    opacity: 100%;
  }
}

#features {
  display: grid;
  grid-area: features;
  height: var(--features-div-size);
  grid-template-rows: 50px repeat(5, 90px);
  grid-template-columns: var(--side-margin) 1fr 1fr 1fr 1fr var(--side-margin);
  grid-template-areas:
    ". . . . . ."
    ". feature-text feature-text feature-text . ."
    ". . . . . ."
    ". . . . . ."
    ". cards cards cards cards ."
    ". . . . . .";

  background-color: var(--very-light-gray);
}

.features-text {
  display: grid;
  grid-area: feature-text;
  place-items: start;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "heading" "description";
  gap: 0px;
  padding-bottom: 10px;
}

.feature-text-heading {
  display: grid;
  grid-area: heading;
  font-size: 50px;
  margin: 0px;
  color: var(--dark-blue);
}
.feature-text-description {
  display: grid;
  grid-area: description;
  font-size: 25px;
  font-weight: 400;
  color: var(--bright-cyan);
}

.feature-card-heading {
  font-size: 25px;
  font-weight: 400;
  color: var(--dark-blue);
}
.feature-card-description {
  font-size: 25px;
  width: 340px;
  font-weight: 400;
  color: var(--bright-cyan);
}
.feature-cards {
  display: grid;
  grid-area: cards;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-flow: row;
  gap: 25px;
}

#articles {
  display: grid;
  grid-area: articles;

  height: var(--articles-div-size);
  grid-template-rows: 170px auto;
  grid-template-columns: var(--side-margin) 1fr 1fr 1fr 1fr var(--side-margin);
  grid-template-areas:
    ". article-text article-text article-text . ."
    ". cards cards cards cards .";

  background: linear-gradient(
    to bottom,
    var(--white),
    var(--very-light-gray) 80%
  );
}
.article-text {
  display: grid;
  grid-area: article-text;
  place-items: start;
  font-size: 50px;
  margin: 0px;
  padding-top: 20px;
  color: var(--dark-blue);
}
.articles-cards {
  display: grid;
  grid-area: cards;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-flow: row;
  gap: 25px;
}
.article-card {
  background-color: var(--white);
  display: grid;
  height: 500px;
  grid-template-rows: repeat(2, 250px);
  grid-template-columns: 330px;
  grid-template-areas: "article-card-img" "article-card-text";

  gap: 0px;
}
.article-card-img {
  display: grid;
  grid-area: article-card-img;
}
.article-card-img img {
  width: 330px;
  height: 250px;
  object-fit: fill;
}
.article-card-text {
  display: grid;
  grid-area: article-card-text;
  grid-template-rows: 20px 40px 60px 100px 30px;
  grid-template-columns: 15px auto 16px;
  grid-template-areas:
    ". . ."
    ". article-card-text-author ."
    ". article-card-text-heading ."
    ". article-card-text-description ."
    ". . .";
  gap: 0px;
}

.article-card-text-author {
  display: grid;
  grid-area: article-card-text-author;
  font-size: 15px;
  width: 150px;
  height: 40px;
  font-weight: 400;
  color: var(--bright-cyan);
}
.article-card-text-heading {
  display: grid;
  grid-area: article-card-text-heading;
  font-size: 20px;
  height: 60px;
}
.article-card-text-heading a {
  text-decoration: none;
  color: var(--dark-blue);
}
.article-card-text-description {
  display: grid;
  grid-area: article-card-text-description;
  font-weight: 400;
  color: var(--bright-cyan);
}
.article-card-text-heading a:hover {
  color: var(--bright-cyan);
}
#footer {
  display: grid;
  grid-area: footer;
  height: 250px;
  grid-template-columns: var(--side-margin) 1fr 1fr 1fr 1fr var(--side-margin);
  grid-template-rows: 50px 100px 100px;
  background-color: var(--dark-blue);
  grid-template-areas: ". . . . . ." ". footer-logo footer-list . footer-copyright ." ". . . . . .";
}
.footer-logo {
  display: grid;
  grid-area: footer-logo;
  grid-template-rows: repeat(2, 1fr);
  grid-auto-flow: row;
  gap: 0px;
}
.company-logo img {
  filter: invert(100);
}

.social-media-logos {
  display: grid;
  grid-template-columns: repeat(5, 30px);
  grid-auto-flow: row;
  place-items: center;
}

.social-media-logos i {
  display: grid;
  font-size: 20px;
  color: var(--white);
  place-items: center;
}
.social-media-logos i:hover {
  color: var(--bright-cyan);
}
.social-media-logos a {
  text-decoration: none;
}

.fb-icon {
  width: 25px;
  height: 25px;
  border-radius: 20%;
}

.yt-icon-background {
  width: 20px;
  height: 20px;
  border-radius: 70%;
  background-color: var(--white);
  z-index: 1000;
}
.yt-icon {
  border-radius: 50px;
}
.footer-list {
  display: grid;
  grid-area: footer-list;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-auto-flow: column;
  column-gap: 50px;
}
.footer-list a {
  text-decoration: none;
  color: var(--white);
}
.footer-list a:hover {
  color: var(--bright-cyan);
}
.footer-copyright {
  display: grid;
  grid-area: footer-copyright;
  grid-template-rows: repeat(2, 1fr);
  grid-auto-flow: row;
  place-items: end;
}
.footer-button {
  display: grid;
  place-items: start;
}

.footer-button a:hover {
  filter: brightness(1.15);
  opacity: 100%;
}
.copyright {
  display: grid;
  place-items: start;
  color: var(--very-light-gray);
}
